body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: #1d2c5e;
  padding: 0px 20px;

}

header img {
  margin-right: auto;
  max-height: 50px;
  max-width: auto;
  padding: 10px 0px;
}

header p {
  color: whitesmoke;
  font-weight: 700;
}

body section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  padding: 50px 0px;
  color: whitesmoke;
}

.info.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
}

.info.main h1, .info.main h4 {
  text-align: end;
}

.info.main h4 {
  font-weight: 100;
}

.info.main button {
  background-color: #DB0840;
  border-radius: 5px; 
  border-style: none;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 14px;
  color: whitesmoke;
}

.info.main button:hover {
  background-color: #f30b47;
}

.main.featured-image {
  width: 400px;
  height: 170px;
}

body section:nth-of-type(2) {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body section:nth-of-type(2) .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section:nth-of-type(2) .info p {
  color: #737477;
  margin-top: -10px;
}

.product-list {
  display: flex;
  justify-content: space-around;
}

.product-list .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.product-list .product:hover {
  width: 140px;
  transition: 0.2s;
}

.product-list .product button {
  background: transparent;
  border: none;
}

.product-list .product img {
  width: 100%;
  height: auto;
}

.product-list .product p {
  font-weight: 700;
  max-width: 100px;
  text-align: center;
  
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #b6b6b6;
}

h1, h2, h3, h4, button, p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}